<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            header
        </header>
        <div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>


        <footer class="border-top footer text-muted">
            footer
        </footer>
    </body>
</html>

