<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/nieuws">Nieuws</a>
        <a class="btn" href="/agenda">Agenda</a>
        <a class="btn" href="/voorstellingen">Voorstellingen</a>
        <a class="btn" href="/contact">Contact</a>
        <div class="search">
            <input type="text" placeholder="Zoeken...">
        </div>
    </header>
    <div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <text>Volg ons ook op de socials!</text>
        <text>e-mail: teeheeatermakers@teehee.com</text>
        <text>tel. nr: 0800 6969 4200</text>
    </footer>
</body>
</html>
