h1 {
    display: flex;
    justify-content: center;
    color: #0CAFA9;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 25px;
    margin: 0;
    line-height: 35px;
    color: #0CAFA9;
}

h3 {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    line-height: 35px;
    color: white;
    opacity: 100%;
}

.breadcrumbs {
    padding: 5px;
    margin: 0px;
    font-family: Open Sans;
}

.breadcrumbs__item {
    display: inline-block;
}

    .breadcrumbs__item:not(:last-of-type)::after {
        content: "/";
        color: #963F2D;
        opacity: 0.4;
    }

.breadcrumbs__link {
    text-decoration: none;
    color: #BED8CF;
}

.breadcrumbs__link--active {
    text-decoration: none;
    font-weight: bold;
    color: #0CAFA9;
}

.agenda_body {
    width: 100vw;
    padding: 5px;
    background-color: #BED8CF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agendaBody{
    display: flex;
}

.agendaBtn {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 170px;
    width: 45vw;
    padding: 10px;
    background-color: rgb(12, 175, 169, 0.3);
    color: white;
    opacity: 1;
    font-family: josefin sans;
    text-decoration: none;
    transition: 0.3s;
}

    .agendaBtn:hover {
        opacity: 0.7;
    }

img {
    height: 100%;
    width: 50%;
    opacity: 1;
}

.btnText {
    padding:10px;
}
