@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

:root {
    --bg: #f8fafc;
    --panel-bg: #FFFFFF;
    --panel-border: #CCCCCC;
    --panel-title: #343f44;
    --panel-text: #54666d;
    --btn: #3eb0ef;
}

#toggleMode {
    visibility: hidden;
}

.toggleDark,
.toggleLight {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
}

.toggleDark {
    display: block;
    color: #222;
}

.toggleLight {
    display: none;
    color: white;
}

#toggleMode:checked ~ .toggleDark {
    display: none;
}

#toggleMode:checked ~ .toggleLight {
    display: block;
}

#container {
    display: flex;
    justify-content: space-between;
    background: #FEF5ED;
    width: 100vw;
    height: 50px;
    left: 0px;
    top: 0px;
    transition: .4s ease;
}

#toggleMode:checked ~ #container {
    --bg: #020202;
    --panel-bg: #111413;
    --panel-border: #1f2322;
    --panel-title: #8e9294;
    --panel-text: #505456;
    --btn: #2962fe;
    background-color: var(--bg);
}

.dark-mode {
    background-color: black;
    color: white;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.image_nieuws {
    position: absolute;
    width: 100vw;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.slider {
    height: 450px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #FEF5ED;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #ED6F00, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.3s;
}
    .slider__nav:hover {
        outline: 6px solid #ED6F00;
        opacity: 0.6
    }

    .slider__nav:checked {
        -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
        outline: 6px solid #ED6F00;
    }

        .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
            left: 0%;
        }

        .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
            left: -100%;
        }

        .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
            left: -200%;
        }

        .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
            left: -300%;
        }

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    display: flex;
}

.slider__txt {
    color: #999;
    width: 100vw;
    background: #963F2D;
    display: flex;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.breadcrumbs {
    padding: 5px;
    margin: 0px;
    font-family: Open Sans;
}

.breadcrumbs__item {
    display: inline-block;
}

    .breadcrumbs__item:not(:last-of-type)::after {
        content: "/";
        color: #963F2D;
        opacity: 0.4;
    }

.breadcrumbs__link {
    text-decoration: none;
    color: #FCCE8E;
}

.breadcrumbs__link--active {
    text-decoration: none;
    font-weight: bold;
    color: #ED6F00;
}
.btn {
    width: 118px;
    height: 35px;
    top: 6px;
    background: #963F2D;
    border-radius: 5px;
    margin: 5px;
    top: -40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-decoration-line: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FEF5ED;
    opacity: 0.9;
    transition: 0.3s;
}

    .btn:hover {
        background: #cf5215;
        opacity: 0.8;
    }

input[type=text] {
    width: 250px;
    height: 39px;
    left: 1133px;
    top: 6px;
    background: rgba(150, 63, 45, 0.4);
    border-radius: 5px;
    margin: 5px;
    border: none;
    box-sizing: border-box;
}

.subheader {
    height: 50px;
}

body {
    margin: 0;
    background: #FEF5ED;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.nieuws_item {
    width: 100vw;
    background-size: cover;
    align-items: flex-end;
}

h1 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

h2 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    align-content: flex-end;
}

/*homepagina mini agenda*/
.mini_agenda {
    height: 350px;
    background: #BED8CF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.agendaCard {
    width: 25vw;
    height: 300px;
    background: #0CAFA9;
    border-radius: 2px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
    color: white;
}

     .agendaCard:hover {
        opacity: 0.8;
     }

 .cardImage {
     height: 100px;
     border-radius: 3px;
 }

.card-title {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
}

 .card-text{
     padding: 10px;
     margin: 0px;
 }

.btn-primary {
    color: #fff;
    background-color: #ED6F00;
}


.agenda_btn3 {
    width: 210px;
    height: 50px;
    margin: 20px;
    background: #0CAFA9;
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-decoration-line: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FEF5ED;
    opacity: 0.9;
    transition: 0.3s;
}

.agenda_btn3:hover {
    opacity: 0.8;
}

footer {
    font-family: Open Sans;
    width: 100vw;
    height: 300px;
    padding: 80px;
    left: 0px;
    top: 992px;
    background: #ED6F00;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}

.logo2{
    display:flex;
    justify-content: flex-end;
}

.contactForm label {
    width: 200px;
    display: inline-block;
}

.carousel_item{
    height: 100vh;
}