2@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    color: #0CAFA9;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 25px;
    margin: 0;
    line-height: 35px;
    color: #0CAFA9;
}

h3 {
    font-family: Josefin Sans;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

p {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 15px;
    margin: 0;
    line-height: 35px;
    color: white;
}

.breadcrumbs {
    padding: 5px;
    margin: 0px;
    font-family: Open Sans;
}

.breadcrumbs__item {
    display: inline-block;
}

    .breadcrumbs__item:not(:last-of-type)::after {
        content: "/";
        color: #963F2D;
        opacity: 0.4;
    }

.breadcrumbs__link {
    text-decoration: none;
    color: #BED8CF;
}

.breadcrumbs__link--active {
    text-decoration: none;
    font-weight: bold;
    color: #0CAFA9;
}

.search2 {
    display:flex;
    justify-content: flex-end;
}

.voorstelling_img {
    height: 100%;
    width: 50%;
}

.btnText {
    color: #963F2D;
    padding: 10px;
}

.voorstellingenBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FCCE8E;
}

.voorstellingenBtn {
    display: flex;
    flex-direction: row;
    height: 335px;
    width: 45vw;
    margin: 20px;
    background-color: #f79239;
    color: white;
    font-family: josefin sans;
    text-decoration: none;
    transition: 0.2s;
}

    .voorstellingenBtn:hover {
        background-color: #ed8528;
    }

/*detailpagina*/

.voorstellingen_body {
    background-color: #BED8CF;
    padding: 30px;
    width: 100vw;
}

.voorstellingen__body {
    display: flex;
    flex-direction: row;
    background-color: rgba(12, 176, 171, 0.2);
}

.beschrijving {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
}

.foto {
    width: 50vw;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.movie-container {
    margin: 20px 0;
}

    .movie-container select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }


.seat {
    background-color: #0CAFA9;
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 5px;
}

    .seat.selected {
        background-color: #ED6F00;
    }

    .seat.occupied {
        background-color: rgba(255,255,255,0.4);
    }

    .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .showcase li small {
            margin-left: 2px;
        }

.row {
    display: flex;
    justify-content: center;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 10px ;
}

    p.text span {
        color: #ED6F00;
    }