* {
    box-sizing: border-box;
}

h1 {
    font-family: Josefin Sans;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ED6F00;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 25px;
    margin: 0;
    line-height: 35px;
    color: #ED6F00;
}

img {
    height: 100%;
    width: 50%;
}

.voorstellingen_body {
    width: 100vw;
    height: 1000px;
    padding: 5px;
    background-color: #FCCE8E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voorstellingenBody {
    display: flex;
}

.voorstellingenBtn {
    display: flex;
    flex-direction: row;
    height: 335px;
    width: 45vw;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: white;
    font-family: josefin sans;
    text-decoration: none;
    transition: 0.3s;
}

    .voorstellingenBtn:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }