* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    color: #ED6F00;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 25px;
    margin: 0;
    line-height: 35px;
    color: #0CAFA9;
}

h3 {
    font-family: Josefin Sans;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

p {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-size: 15px;
    margin: 0;
    line-height: 35px;
    color: white;
}

.breadcrumbs {
    padding: 5px;
    margin: 0px;
    font-family: Open Sans;
}

.breadcrumbs__item {
    display: inline-block;
}

    .breadcrumbs__item:not(:last-of-type)::after {
        content: "/";
        color: #963F2D;
        opacity: 0.4;
    }

.breadcrumbs__link {
    text-decoration: none;
    color: #FCCE8E;
}

.breadcrumbs__link--active {
    text-decoration: none;
    font-weight: bold;
    color: #ED6F00;
}

.search2 {
    display:flex;
    justify-content: flex-end;
}

.voorstelling_img {
    height: 100%;
    width: 50%;
}

.btnText {
    color: #963F2D;
    padding: 10px;
}

.voorstellingenBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FCCE8E;
}

.voorstellingenBtn {
    display: flex;
    flex-direction: row;
    height: 335px;
    width: 45vw;
    margin: 20px;
    background-color: #f79239;
    color: white;
    font-family: josefin sans;
    text-decoration: none;
    transition: 0.2s;
}

    .voorstellingenBtn:hover {
        background-color: #ed8528;
    }

/*detailpagina*/

.voorstellingen_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FCCE8E;
}

.foto {
    width: 50vw;
}