@{
    ViewData["Title"] = "agenda";
}
<head>
    <link rel="stylesheet" href="~/css/agenda.css" />
</head>

<div class="agenda_body">
    <div class="agenda_top">
        <h2>februari 2022</h2>
    </div>
    <div class="agendaBody">
        <div class="row">
            <a class="agendaBtn" href="Welcome to my life">Welcome to my life</a>
            <a class="agendaBtn" href="De uren die vliegen">De uren die vliegen</a>
            <a class="agendaBtn" href="Romeo en Julia">Romeo en Julia</a>
        </div>
        <div class="row">
            <a class="agendaBtn" href="Welcome to my life">Welcome to my life</a>
            <a class="agendaBtn" href="De uren die vliegen">De uren die vliegen</a>
            <a class="agendaBtn" href="Romeo en Julia">Romeo en Julia</a>
        </div>
    </div>
</div>
