@model teeheeater.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>Voornaam: <input type="text" name="firstname" /></div>
    <div>Achternaam: <input type="text" name="lastname" /></div>
    <div>Email: <input type="text" name="lastname" /></div>
    <div>Telefoon: <input type="text" name="lastname" /></div>
    <div>Adres: <input type="text" name="lastname" /></div>
    <div>Beschrijving: <input type="text" name="lastname" /></div>
    <input type="submit" value="verstuur" />
</form>

@if (Model != null) { 
<p>Hallo @Model.FirstName   @Model.LastName  </p>
}
  
