@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
Voornaam: <input type="text" name="firstname" />
Achternaam: <input type="text" name="lastname" />
<input type="submit" value="verstuur" />
</form>

<p>Welkom @ViewBag["firstName"] @ViewBag["lastName"]  </p>
  