@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
Voornaam: <input type="text" name="voornaam" />
Achternaam: <input type="text" name="achternaam" />
<input type="submit" value="verstuur" />
</form>

<p>Welkom @ViewBag["voorNaam"] @ViewBag["achterNaam"]  </p>
  