@using teeheeater.Database
@model Voorstellingen
@{
    ViewData["Title"] = 404;
    ViewData["prevTitle"] = "voorstellingen";
}

@section script{
    <link href="~/css/voorstellingen.css" rel="stylesheet">
}

<div class = "text-center">

</div>