@using teeheeater.Database
@model Voorstellingen
@{
    ViewData["Title"] = "";
}

@section script{
    <link href="~/css/site-light.css" rel="stylesheet" id="theme-link">
    <link href="~/css/error.css" rel="stylesheet">
}

<div class="agendaBody">
    <h1> Oeps.. deze pagina bestaat niet.</h1>
    <p>Ga terug naar  <a href="/"> home</a> pls :) </p>
</div>