@using teeheeater.Database
@model Voorstellingen
@{
    ViewData["Title"] = "";
}

@section script{
    <link href="~/css/site-light.css" rel="stylesheet" id="theme-link">
}

<div class="agendaBody">
    <h1> Oeps.. deze pagina bestaat niet.</h1>
</div>