@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <div class="nieuws_item">
        <img src="~/img/theater.png" width="100%" height="600" class="img">

        <h1>Coronatoegansbewijs: wat zijn de regels? </h1>
    </div>
    <div class="mini_agenda">
        <a class="agenda_btn" href="Welcome to my life">Welcome to my life</a>
        <a class="agenda_btn" href="De uren die vliegen">De uren die vliegen</a>
        <a class="agenda_btn" href="Romeo en Julia">Romeo en Julia</a>
        @*<a class="agenda_btn2" href="meer data"></a>*@
        <a class="agenda_btn3" href="meer data">meer data</a>
    </div>
</div>
