@model List<string>
@using teeheeater.Database;

@{
    ViewData["Title"] = "home";
}

@section script {
    <link href="~/css/site.css" rel="stylesheet">
}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d306.59039465835434!2d4.365862925192906!3d52.06656436165387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7c0fe833883%3A0xc5631306575100ec!2sKerkbrug!5e0!3m2!1snl!2snl!4v1653046765863!5m2!1snl!2snl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
    <input type="radio" name="slider" title="slide2" class="slider__nav" />
    <input type="radio" name="slider" title="slide3" class="slider__nav" />
    <input type="radio" name="slider" title="slide4" class="slider__nav" />
    <div class="slider__inner">
        <div class="slider__contents">
            <div class="slider__txt">
                <div class="nieuws_item">
                    <img src="~/img/nijlpaard.jpg" class="image_nieuws">
                    <h2>Nijlpaardenpenis</h2>
                </div>
            </div>
        </div>
        <div class="slider__contents">
            <div class="nieuws_item">
                <img src="~/img/theater.png" class="image_nieuws">
                <h2>Nieuwe voorstelling, ben jij erbij?</h2>
            </div>
        </div>
        <div class="slider__contents">
            <div class="nieuws_item">
                <img src="~/img/maria_magdalena.png" class="image_nieuws">
                <h2>Maria Magdalena superstar: laatste kans! </h2>
            </div>
        </div>
        <div class="slider__contents">
            <div class="nieuws_item">
                <img src="~/img/theater.png" class="image_nieuws">
                <h2>Coronatoegansbewijs: wat zijn de regels? </h2>
            </div>
        </div>
    </div>
</div>

<div class="mini_agenda">
    <div class="agendaCard">
        <img src="~/img/welcome_to_my_life.png" class="cardImage">
        <div class="card-body">
            <h5 class="card-title">Welcome to my Life</h5>
            <p class="card-text">Een theatervoorstelling over het levensverhaal van Mevrouw Blom. Mevrouw Blom is...</p>
            <a href="#" class="btn btn-primary">meer ></a>
        </div>
    </div>
    <div class="agendaCard">
        <img src="~/img/uren_die_vliegen.png" class="cardImage">
        <div class="card-body">
            <h5 class="card-title">De Uren Die Vliegen</h5>
            <p class="card-text">Meeslepend verhaal over Len den Zeelander en Bart...</p>
            <a href="#" class="btn btn-primary">meer ></a>
        </div>
    </div>
    <div class="agendaCard">
        <img src="~/img/romeo_en_julia.png" class="cardImage">
        <div class="card-body">
            <h5 class="card-title">Welcome to my life</h5>
            <p class="card-text">Een theatervoorstelling over het levensverhaal van Mevrouw Blom. Mevrouw Blom is...</p>
            <a href="#" class="btn btn-primary">meer ></a>
        </div>
    </div>
    <a class="agenda_btn3" href="meer data">meer data ></a>
</div>
