@model List<string>
@{
    ViewData["Title"] = "home";
}


@section script {
    <link href="~/css/site.css" rel="stylesheet">
}

<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
    <input type="radio" name="slider" title="slide2" class="slider__nav" />
    <input type="radio" name="slider" title="slide3" class="slider__nav" />
    <input type="radio" name="slider" title="slide4" class="slider__nav" />
    <div class="slider__inner">
        <div class="slider__contents">
            <div class="slider__txt">
                <div class="nieuws_item">
                    <img src="~/img/theater.png" class="image_nieuws">
                    <h2>Coronatoegangsbewijs: wat zijn de regels? </h2>
                </div>
            </div>
        </div>
        <div class="slider__contents">
            <div class="nieuws_item">
                <img src="~/img/theater.png" class="image_nieuws">
                <h2>Nieuwe voorstelling, ben jij erbij?</h2>
            </div>
        </div>
        <div class="slider__contents">
            <div class="nieuws_item">
                <img src="~/img/maria_magdalena.png" class="image_nieuws">
                <h2>Maria Magdalena superstar: laatste kans! </h2>
            </div>
        </div>
        <div class="slider__contents">
            <div class="nieuws_item">
                <img src="~/img/theater.png" class="image_nieuws">
                <h2>Coronatoegansbewijs: wat zijn de regels? </h2>
            </div>
        </div>
    </div>
</div>

<div class="mini_agenda">
    <div class="agendaCard">
        <img src="~/img/welcome_to_my_life.png" class="cardImage">
        <div class="card-body">
            <h5 class="card-title">Welcome to my Life</h5>
            <p class="card-text">Een theatervoorstelling over het levensverhaal van Mevrouw Blom. Mevrouw Blom is...</p>
            <a href="#" class="btn btn-primary">meer ></a>
        </div>
    </div>
    <div class="agendaCard">
        <img src="~/img/uren_die_vliegen.png" class="cardImage">
        <div class="card-body">
            <h5 class="card-title">De Uren Die Vliegen</h5>
            <p class="card-text">Meeslepend verhaal over Len den Zeelander en Bart...</p>
            <a href="#" class="btn btn-primary">meer ></a>
        </div>
    </div>
    <div class="agendaCard">
        <img src="~/img/romeo_en_julia.png" class="cardImage">
        <div class="card-body">
            <h5 class="card-title">Welcome to my life</h5>
            <p class="card-text">Een theatervoorstelling over het levensverhaal van Mevrouw Blom. Mevrouw Blom is...</p>
            <a href="#" class="btn btn-primary">meer ></a>
        </div>
    </div>
    <a class="agenda_btn3" href="meer data">meer data ></a>
</div>

<div>
    @foreach(string naam in Model)
    {
        <p>@naam</p>
    }
</div>