@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="nieuws_item1">
                <h2>Coronatoegansbewijs: wat zijn de regels? </h2>
            </div>
        </div>
        <div class="carousel-item">
            <div class="nieuws_item1">
                <h2>nieuws2</h2>
            </div>
        </div>
        <div class="carousel-item">
            <div class="nieuws_item1">
                <h2>nieuws3</h2>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mini_agenda">
    <a class="agenda_btn" href="Welcome to my life">Welcome to my life</a>
    <a class="agenda_btn" href="De uren die vliegen">De uren die vliegen</a>
    <a class="agenda_btn" href="Romeo en Julia">Romeo en Julia</a>
    <a class="agenda_btn3" href="meer data">meer data</a>
</div>