@{
    ViewData["Title"] = "nieuws";
}

@section script {
    <link href="~/css/nieuws.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
}


<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
      <h2 class="slider__caption">codepen</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
      <h2 class="slider__caption">newspaper-o</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-television"></i>
      <h2 class="slider__caption">television</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <h2 class="slider__caption">diamond</h2>
      <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
    </div>
  </div>
</div>

<div class="nieuws_body">
    <div class="img">
        <img src="~/img/corona.png">
    </div>
    <div class="nieuws_tekst">
        <h2>Coronatoegansbewijs: wat zijn de regels?</h2>
        <p>In verband met het huidige Corona beleid hanteren wij helaas een 3G maatregel. Iedereen moet bij binnenkomst een QR code kunnen laten zien. Dit houdt dus in dat iedere bezoeker getest, gevaccineerd of genezen van het Corona virus moet zijn.</p>
        <p>In de zaal worden er twee stoelen tussen ieder groepje vrijgehouden zodat we de 1,5 meter regel aan kunnen houden.</p>
        <p>Hopelijk kunnen we snel weer terug naar de oude situatie en mogen we weer volle zalen verwelkomen!</p>
    </div>
</div>
