@{
    ViewData["Title"] = "nieuws";
    ViewData["activeTab"] = "home";
}

@section script {
    <link href="~/css/site-light.css" rel="stylesheet" id="theme-link">
}

<div class="nieuwsslider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="nieuwsslider__nav" />
    <input type="radio" name="slider" title="slide2" class="nieuwsslider__nav" />
    <input type="radio" name="slider" title="slide3" class="nieuwsslider__nav" />
    <input type="radio" name="slider" title="slide4" class="nieuwsslider__nav" />
    <div class="nieuwsslider__inner">
        <div class="nieuwsslider__contents">
            <div>
                <img class="nieuwsslider_img" src="/img/nijlpaard.jpg" onMouseOver="this.src='/img/smurf.jpeg'" onMouseOut="this.src='/img/nijlpaard.jpg'">
            </div>
            <div class="nieuws_tekst">
                <h2>Nijlpaardenpenis.</h2>
                <p>Als Adriaan van Dis het bij De Wereld Draait Door mag zeggen, dan mag ik het op internet ook. En nu ik dan toch de aandacht heb, wil ik graag iets vertellen over Robert Jacob Gordon (Gordon) en wat Q42 ermee te maken heeft. Robert Jacob Gordon was een ontdekkingsreiziger in de 18e eeuw die tussen 1773 en 1786 een aantal ontdekkingsreizen door Zuid-Afrika heeft gemaakt. De precieze hoeveelheid reizen was me alleen niet helemaal duidelijk. Een korte zoektocht op het internet over Gordon leerde mij namelijk dat de informatie op Wikipedia niet bepaald overeenkomt met wat ik tijdens het project geleerd heb en wat er nu op de nieuwe website staat. Kennelijk was de informatie nog niet makkelijk te vinden. Maar nu wel: het zijn er vijf!  </p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" die>lees meer > </a>
            </div>
        </div>
        <div class="nieuwsslider__contents">
            <div>
                <img class="nieuwsslider_img" src="~/img/corona.png">
            </div>
            <div class="nieuws_tekst">
                <h2>Coronatoegansbewijs: wat zijn de regels?</h2>
                <p>In verband met het huidige Corona beleid hanteren wij helaas een 3G maatregel. Iedereen moet bij binnenkomst een QR code kunnen laten zien. Dit houdt dus in dat iedere bezoeker getest, gevaccineerd of genezen van het Corona virus moet zijn.</p>
                <p>In de zaal worden er twee stoelen tussen ieder groepje vrijgehouden zodat we de 1,5 meter regel aan kunnen houden.</p>
                <p>Hopelijk kunnen we snel weer terug naar de oude situatie en mogen we weer volle zalen verwelkomen!</p>
            </div>
        </div>
        <div class="nieuwsslider__contents">
            <div class="img">
                <img src="~/img/corona.png">
            </div>
            <div class="nieuws_tekst">
                <h2>nieuws 3</h2>
                <p>blablabla</p>
            </div>
        </div>
        <div class="nieuwsslider__contents">
            <div class="img">
                <img src="~/img/corona.png">
            </div>
            <div class="nieuws_tekst">
                <h2>nieuws 4</h2>
                <p>blablabla</p>
            </div>
        </div>
    </div>
</div>


