@using teeheeater.Database
@model Voorstellingen
@{
    ViewData["Title"] = Model.Naam;
    ViewData["prevTitle"] = "voorstellingen";
}

@section script{
    <link href="~/css/site-light.css" rel="stylesheet" id="theme-link">
    <link href="~/css/agenda.css" rel="stylesheet">
}

<div class="voorstellingen_body">
    <div class="foto">
        <img src="@Model.Foto" class="foto">
    </div>
    <div class="beschrijving">
        <h3>@Model.Naam</h3>
        <p>@Model.Beschrijving</p>
        <a class="agenda_btn3" href="/voorstellingen/@Model.Id/kaartjes">Kaartjes kopen ></a>
    </div>
</div>