@using teeheeater.Database
@model List<Voorstellingen>

@{
    ViewData["Title"] = "voorstellingen";
}

@section script {
    <link href="~/css/site-light.css" rel="stylesheet" id="theme-link">
}

<div class="voorstellingenBody">
    @foreach (Voorstellingen voorstelling in Model)
    {
        <a class="voorstellingenBtn" href="voorstellingen/@voorstelling.Id">
            <img src="@voorstelling.Foto" class="voorstelling_img">
            <div class="btnText">
                <h3>@voorstelling.Naam</h3>
                <div class="voorstellingtekst">@voorstelling.Beschrijving</div>
            </div>
        </a>
    }
</div>

