@{
    ViewData["Title"] = "voorstellingen";
}

<head>
    <link rel="stylesheet" href="~/css/voorstellingen.css" />
</head>

<h1>@ViewData["Title"]</h1>

<div class="voorstellingen_body">
    <div class="voorstellingen_top">
        <h2>tekst</h2>
    </div>
    <div class="voorstellingenBody">
        <div class="row">
            <a class="voorstellingenBtn" href="Welcome to my life">
                <img src="~/img/welcome_to_my_life.png">
                <h3>Welcome to my life</h3>
            </a>
            <a class="voorstellingenBtn" href="De uren die vliegen">
                <img src="~/img/uren_die_vliegen.png">
                <h3>De uren die vliegen</h3>
            </a>
        </div>
        <div class="row">
            <a class="voorstellingenBtn" href="Welcome to my life">
                <img src="~/img/romeo_en_julia.png">
                <h3>Romeo en Julia</h3>
            </a>
            <a class="voorstellingenBtn" href="De uren die vliegen">
                <img src="~/img/love_hate_djenz.png">
                <h3>Love, Hate and Djenz</h3>
            </a>
        </div>
    </div>
</div>