@using teeheeater.Database
@model Voorstellingen
@{
    ViewData["Title"] = Model.Naam;
    ViewData["prevTitle"] = "voorstellingen";
}

@section script{
    <link href="~/css/voorstellingen.css" rel="stylesheet">
}

<div class = "text-center">
    <p>@Model.Beschrijving</p>
</div>