@using teeheeater.Database
@model Voorstellingen
@{
    ViewData["Title"] = "tickets kopen";
    ViewData["prevTitle"] = Model.Naam;
    ViewData["prevprevTitle"] = "voorstellingen";
}

@section script{
    <link href="~/css/voorstellingenKaartjes.css" rel="stylesheet">
}

<div class="voorstellingen_body">
    <div class="voorstellingen__body">
        <div class="foto">
            <img src="@Model.Foto" class="foto">
        </div>
        <div class="beschrijving">
            <h3>Selecteer je plaatsen</h3>
            <p>@Model.Datum @Model.Tijd</p>
            <div class="grid">
                <div class="plekken"></div>
                <div class="plekken"></div>
                <div class="plekken"></div>
                <div class="plekken"></div>
                <div class="plekken"></div>
                <div class="plekken"></div>
                <div class="plekken"></div>
                <div class="plekken"></div>
            </div>
        </div>
    </div>
</div>